*.disasm
*.evm
*.log
*.pyc
*.report
*.sol

.DS_Store

.idea/*

contract_data
dist/
tmp/

current_test.pickle

bytecode
bytecode.1

!oyente/tests/contracts/*/*
web/vendor/

oyente/result
oyente/test_traces
